In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [41]:
df = pd.read_csv('TaxiFare (2) (1) (1).csv')

In [42]:
df.head(20)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
5,50:45.0,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1
6,35:00.0,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1
7,22:00.0,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1
8,10:00.0,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1
9,11:00.0,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2
10,30:50.0,5.3,2012-04-08 07:30:50 UTC,-73.996335,40.737142,-73.980721,40.733559,1
11,24:00.0,5.5,2012-12-24 11:24:00 UTC,0.000000,0.000000,0.000000,0.000000,3
12,04:03.0,4.1,2009-11-06 01:04:03 UTC,-73.991601,40.744712,-73.983081,40.744682,2
13,54:00.0,7.0,2013-07-02 19:54:00 UTC,-74.005360,40.728867,-74.008913,40.710907,1
14,11:05.0,7.7,2011-04-05 17:11:05 UTC,-74.001821,40.737547,-73.998060,40.722788,2
15,57:00.0,5.0,2013-11-23 12:57:00 UTC,0.000000,0.000000,0.000000,0.000000,1
16,22:00.0,12.5,2014-02-19 07:22:00 UTC,-73.986430,40.760465,-73.988990,40.737075,1
17,08:00.0,5.3,2009-07-22 16:08:00 UTC,-73.981060,40.737690,-73.994177,40.728412,1
18,52:00.0,5.3,2010-07-07 14:52:00 UTC,-73.969505,40.784843,-73.958732,40.783357,1
19,36:22.0,4.0,2014-12-06 20:36:22 UTC,-73.979815,40.751902,-73.979446,40.755481,1

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             50000 non-null  object
 1   amount                50000 non-null  float64
 2   date_time_of_pickup   50000 non-null  object
 3   longitude_of_pickup   50000 non-null  float64
 4   latitude_of_pickup    50000 non-null  float64
 5   longitude_of_dropoff  50000 non-null  float64
 6   latitude_of_dropoff   50000 non-null  float64
 7   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.1+ MB

In [44]:
mean_amount=df.describe()['amount']['mean']
mean_lo_pick=df.describe()['longitude_of_pickup']['mean']
mean_la_pick=df.describe()['latitude_of_pickup']['mean']
mean_lo_drop=df.describe()['longitude_of_dropoff']['mean']
mean_la_drop=df.describe()['latitude_of_dropoff']['mean']

In [45]:
df['longitude_of_pickup']=df['longitude_of_pickup'].replace(0,df['longitude_of_pickup'].mean())
df['latitude_of_pickup']=df['latitude_of_pickup'].replace(0,df['latitude_of_pickup'].mean())
df['longitude_of_dropoff']=df['longitude_of_dropoff'].replace(0,df['longitude_of_dropoff'].mean())
df['latitude_of_dropoff']=df['latitude_of_dropoff'].replace(0,df['latitude_of_dropoff'].mean())

In [46]:
df.head(20)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
5,50:45.0,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1
6,35:00.0,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1
7,22:00.0,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1
8,10:00.0,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1
9,11:00.0,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2
10,30:50.0,5.3,2012-04-08 07:30:50 UTC,-73.996335,40.737142,-73.980721,40.733559,1
11,24:00.0,5.5,2012-12-24 11:24:00 UTC,-72.509756,39.933759,-72.504616,39.926251,3
12,04:03.0,4.1,2009-11-06 01:04:03 UTC,-73.991601,40.744712,-73.983081,40.744682,2
13,54:00.0,7.0,2013-07-02 19:54:00 UTC,-74.005360,40.728867,-74.008913,40.710907,1
14,11:05.0,7.7,2011-04-05 17:11:05 UTC,-74.001821,40.737547,-73.998060,40.722788,2
15,57:00.0,5.0,2013-11-23 12:57:00 UTC,-72.509756,39.933759,-72.504616,39.926251,1
16,22:00.0,12.5,2014-02-19 07:22:00 UTC,-73.986430,40.760465,-73.988990,40.737075,1
17,08:00.0,5.3,2009-07-22 16:08:00 UTC,-73.981060,40.737690,-73.994177,40.728412,1
18,52:00.0,5.3,2010-07-07 14:52:00 UTC,-73.969505,40.784843,-73.958732,40.783357,1
19,36:22.0,4.0,2014-12-06 20:36:22 UTC,-73.979815,40.751902,-73.979446,40.755481,1

In [47]:
df['diff_long'] = df['longitude_of_pickup']-df['longitude_of_dropoff']
df['diff_lati'] = df['latitude_of_pickup']-df['latitude_of_dropoff']
df['diff_long'] =df.diff_long.abs()
df['diff_lati'] =df.diff_lati.abs()
df.head(20)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,diff_long,diff_lati
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.002701,0.009041
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,0.036780,0.070701
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.008504,0.010708
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,0.004437,0.024949
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,0.011440,0.015754
5,50:45.0,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1,0.028072,0.026603
6,35:00.0,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1,0.006200,0.013180
7,22:00.0,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1,0.038795,0.023090
8,10:00.0,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1,0.013384,0.004915
9,11:00.0,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2,0.010882,0.024265
10,30:50.0,5.3,2012-04-08 07:30:50 UTC,-73.996335,40.737142,-73.980721,40.733559,1,0.015614,0.003583
11,24:00.0,5.5,2012-12-24 11:24:00 UTC,-72.509756,39.933759,-72.504616,39.926251,3,0.005140,0.007508
12,04:03.0,4.1,2009-11-06 01:04:03 UTC,-73.991601,40.744712,-73.983081,40.744682,2,0.008520,0.000030
13,54:00.0,7.0,2013-07-02 19:54:00 UTC,-74.005360,40.728867,-74.008913,40.710907,1,0.003553,0.017960
14,11:05.0,7.7,2011-04-05 17:11:05 UTC,-74.001821,40.737547,-73.998060,40.722788,2,0.003761,0.014759
15,57:00.0,5.0,2013-11-23 12:57:00 UTC,-72.509756,39.933759,-72.504616,39.926251,1,0.005140,0.007508
16,22:00.0,12.5,2014-02-19 07:22:00 UTC,-73.986430,40.760465,-73.988990,40.737075,1,0.002560,0.023390
17,08:00.0,5.3,2009-07-22 16:08:00 UTC,-73.981060,40.737690,-73.994177,40.728412,1,0.013117,0.009278
18,52:00.0,5.3,2010-07-07 14:52:00 UTC,-73.969505,40.784843,-73.958732,40.783357,1,0.010773,0.001486
19,36:22.0,4.0,2014-12-06 20:36:22 UTC,-73.979815,40.751902,-73.979446,40.755481,1,0.000369,0.003579

In [49]:
df = df[['amount','diff_long','diff_lati','no_of_passenger']]
df.head(20)

    amount  diff_long  diff_lati  no_of_passenger
0      4.5   0.002701   0.009041                1
1     16.9   0.036780   0.070701                1
2      5.7   0.008504   0.010708                2
3      7.7   0.004437   0.024949                1
4      5.3   0.011440   0.015754                1
5     12.1   0.028072   0.026603                1
6      7.5   0.006200   0.013180                1
7     16.5   0.038795   0.023090                1
8      9.0   0.013384   0.004915                1
9      8.9   0.010882   0.024265                2
10     5.3   0.015614   0.003583                1
11     5.5   0.005140   0.007508                3
12     4.1   0.008520   0.000030                2
13     7.0   0.003553   0.017960                1
14     7.7   0.003761   0.014759                2
15     5.0   0.005140   0.007508                1
16    12.5   0.002560   0.023390                1
17     5.3   0.013117   0.009278                1
18     5.3   0.010773   0.001486                1
19     4.0   0.000369   0.003579                1